<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <h1>Today</h1>
        <% day = Time.now.strftime("%A") %>
        <% month = Time.now.strftime("%B") %>
        <% date = Time.now.strftime("%d") %>
        <% year = Time.now.strftime("%Y") %>
    <p>The date is <%= "#{day}, #{month + " " + date}, #{year}" %> </p>
  </body>
</html> -->
