<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date Page</title>
</head>
<body>
  <h1>Today</h1>
  <p><%= DateTime.now.strftime("The date is %A, %B %d, %Y") %></p>
</body>
</html>
